*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
} 

body {
    background-image: linear-gradient( to left, rgb(5, 64, 92), .1%, #000000);
} 
.container-top{
    background-color: rgba(2, 23, 33, 0.597); 
    color: #eee; 
    font-size: .8rem;
    font-weight: 200;
    padding: 2rem; 
    margin: 1.5rem; 
    border-radius: .8rem;  
}