body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif; 
    color: #eee;
}
.wrapper {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente escondido */
    background-color: #333;
    transition: left 0.3s ease;
}
.content {
    flex: 1;
    padding: 20px; 
    background-image: linear-gradient( to left, rgb(5, 64, 92), .2%, #000000);
    transition: margin-left 0.3s ease;
}
.sidebar.active {
    left: 0; /* Mostrado */
}
.content.active {
    margin-left: 250px; /* Ajuste de margem para o conteúdo quando a sidebar está visível */
}

.toggle-btn {
    color: #fff; 
    font-size: 1.6rem; 
    font-weight: 200;
    cursor: pointer; 
    size: 25px;
    padding: 15px;
    position: absolute;
    top: 10px;
    right: 85px;
    z-index: 999;
} 

.toggle-btn:hover {
    color:#edb62b;  
    font-size: 1.6rem; 
    font-weight: 200;
    cursor: pointer; 
    size: 25px;
    padding: 15px;
    position: absolute;
    top: 10px;
    right: 85px;
    z-index: 999;
}


.tab-name{
    
    
    padding: 10px; 
    font-weight: 200;
    text-align: center; 
    margin-top: 2.5rem;
}

.tab-info{
    
    margin-top: -.5rem;
    padding: 5px; 
    font-weight: 200;
    font-size: .9rem; 
    text-transform: lowercase;
    text-align: center; 
    
}

.tab {
    /* background-color: #444; */
    background-image: linear-gradient(to right, #444, 40%, #44444400);
    padding: 18px; 
    font-weight: 500;
    cursor: pointer; 
    text-align: left; 
    margin-top: .8rem;
}

.tab:hover {
    background-color: #222;
} 

a{
    
    color: #eee;
    text-decoration: none;
} 

.area1{
    display: flex;
    
} 

.content-btn{
    /* background-color: #258eeb;  */
    border: solid 1px #eee;
    padding: 3vh; 
    margin-right: 1rem ; 
    border-radius: .2rem;
    font-weight: 600;
}

.content-btn:hover{
    background-color: #edb62b;
    color: black;
    padding: 3vh; 
    font-weight: 600;
    margin-right: 1rem ; 
    border-radius: .4rem; 
    border: none;
    transition: all ease-in-out .3s;
}

.content-gap {
    margin-top: 1rem; 
    margin-right: 1rem;
    padding: 20vh; 
    background-color: #22222256;
    border-radius: .5rem;
} 

.ident {
    padding: .5rem;  
    margin-bottom: 1rem; 
    margin-right: 5rem; 
    border-bottom: solid 1px #eee; 
     
    
} 

.p-saudacao {
    margin-top: -1rem;
}

.tab-foto {

    width: 30px; /* largura desejada */
    height: 30px; /* mantém a proporção da imagem */ 
    margin: 0 auto; /* centraliza horizontalmente */
    margin-top: 15px; 
    margin-bottom: -45px;
    display: flex;  
}   

.tab-foto-2 { 
    width: 40px; /* largura desejada */
    height: 40px; /* mantém a proporção da imagem */ 
    margin-top: 20px;
    margin-left: 95%;
    margin-bottom: 22px;
    display: inline-flex;   
    position: absolute;

}

img {
    border-radius: 25px;
}



