@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Philosopher&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0; 
    
} 


/* media para smartphone */ 


/* media para computador */
@media screen and (min-width: 1024px) {
    
    body{
        
        /* background-image: linear-gradient(to right, #0F0F0F, 70%, #2c2c2c); */
         
         background-image: linear-gradient( -90deg, rgb(5, 64, 92), 2%, #000000); 
         font-family: "Raleway", sans-serif;
    } 

    .logotipo{
        width: 12%; 
        margin-left: 43%; 
        margin-bottom: 1.2rem;
       
    }

    .titulo{
        color: white;
        font-family: "Raleway", sans-serif; 
        font-weight: 700; 
        font-size: 2.5rem;
    } 

    .subtitulo{
        color: white;
        font-family: "Raleway", sans-serif; 
        font-weight: 300; 
        font-size: 1.3rem; 
        margin-bottom: .4rem; 
        
    }  

    .link{
        margin-top: -2.5rem;
        text-align: left; 
        margin-left: 63%;
        color: white;
        font-family: "Raleway", sans-serif; 
        font-weight: 300; 
        font-size: .9rem; 
        margin-bottom: 0; 
        text-decoration:underline; 
    }

  

    .cad{
        color: white;
        font-family: "Raleway", sans-serif; 
        font-weight: 600; 
        font-size: 1.3rem; 
        margin-bottom: 1.5rem; 
        text-transform: none;
        text-decoration: none; 
        text-decoration: underline;
    }


    
    .container-login {
        background-color:#191919 ; 
        text-align: center;
        padding: 4rem;  
        padding-left: 4rem;
        padding-right: 4rem;
        margin-left: 60vh;
        margin-right: 60vh;
        margin-top: 12vh;
        border-radius: .8rem; 
        
    }  


    form{
        display: grid; 
        
    }

    .input{
        
        padding-top: 0;;
        padding: .9rem;
        padding-right: .9rem;  
        padding-left: 2rem;
        margin-left: 8vh;
        margin-right: 8vh;
        border-radius: .5rem; 
        border: none; 
        color: #ffffff; 
        font-size: 1rem; 
        font-family: "Raleway", sans-serif; 
        /* text-transform: lowercase;  */
        background-color:#0F0F0F; 
        margin-bottom: 1rem;
        
        
    }  

    input::placeholder{
        
        padding-left: .5rem;
    }

    .fa-envelope  {
      position: absolute;
      color: #ffffff7a;
      top: 51.5%;
      left: 573px; /* Altere conforme necessário */
      transform: translateY(-50%);
    } 

    .fa-lock{
        position: absolute;
        color: #ffffff7a;
        top: 60%;
        left: 573px; /* Altere conforme necessário */
        transform: translateY(-50%);
    }
    
    .fa-eye-slash{
        position: absolute;
        color: #ffffff7a;
        top: 60%;
        left: 930px; /* Altere conforme necessário */
        transform: translateY(-50%);
    }
    .input-btn{
        padding: .7rem; 
        border-radius: .5rem; 
        border: none; 
        background-color: #0374D9; 
        color: white; 
        font-size: 1.2rem; 
        font-family: "Raleway", sans-serif;  
        font-weight: 600; 
        margin-left: 8vh;
        margin-right: 8vh;
    }  

    .input-btn:hover{
        padding: .7rem; 
        border-radius: .5rem; 
        border: none; 
        background-color: #258eeb; 
        color: white; 
        font-size: 1.2rem; 
        font-family: "Raleway", sans-serif;  
        font-weight: 600; 
        margin-left: 8vh;
        margin-right: 8vh; 

        transition: all ease-in-out .1s;
    } 

   
} 

