.eventos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    
    &__evento {
        width: 100%;
        text-align: center;
        img {
            width: 100%;
            object-fit: fill;
            padding-bottom: 8px;
        }
    }
}