.pastores {
    display: block;
    padding-bottom: 40px;
    
    &__descricao {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 24px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        
        p {
            padding-bottom: 24px;
        }
        
        img {
            margin: 0 auto;
            object-fit: cover;
            width: 300px;
            height: 400px;
            border-radius: 5px;
        }
    }
    

}