$color_1: #000;
$color_2: #fff;
$color_3: #aaa;
$font-family_1: 'Almarai', sans-serif;
$font-family_2: 'Cormorant Garamond', serif;
$font-family_3: 'Libre Caslon Display', serif;
$background-color_1: #28324b;
$background-color_2: #f7efe0;
$background-color_3: #1e1d31;

// #ece6dd