@use 'variaveis';
@use 'reset';
@use 'header';
@use 'hero';
@use 'start';
@use 'agenda';
@use 'pastores';
@use 'footer';

a {
	text-decoration: none;
}

@mixin title($font-size: 64px) {
    font-family: variaveis.$font-family_2;
    font-weight: 300;
    font-size: $font-size;
}

.title {
	@include title;
    color: variaveis.$color_2;

	&--medium {
		@include title(48px);
		margin-bottom: 24px; 
	}

	&--small {
		font-size: 20px;
		margin-bottom: 8px;
	}

	@media (max-width: 768px) {
		&--medium {
			font-size: 32px;
		}

		&--small {
			font-size: 16px;
		}
	}
}

.text {
	font-size: 16px;

	@media (max-width: 768px) {
		font-size: 14px;
	}
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-inline: 8px;
}

main {
	background-color: variaveis.$background-color_2;
	.container {
		max-width: 1024px;
		display: block;
		padding-top: 75px;
	}
}

.button {
	padding: 8px 16px;
	display: inline-block;
    margin-top: 16px;
    font-size: 0.9em;
    font-weight: bold;
	background-color: variaveis.$background-color_1;
    color: variaveis.$color_2;
	border-radius: 5px;
}

.card {
    padding: 24px 24px;
}

.blog__video {
    width: 100%;
}