*{
    font-family: 'Raleway', sans-serif; 
    
} 

body{
    background-color: #eee;
}

h4{
    font-weight: 300; 
    font-size: 1.3rem;
}

.container-fluid{
    margin-top: 10rem;
} 

#container {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}